# Git
.git
.gitignore

# Build artifacts
backend/app_api/_build
backend/app_api/deps
frontend/node_modules
frontend/dist

# Data
data/

# Docs
*.md
.github/
unraid-templates/

# Docker
docker-compose*.yml
.dockerignore

**/.git
**/.github
**/node_modules
**/dist
**/_build
**/deps
**/.elixir_ls
**/erl_crash.dump
*.swp
*.swo
.DS_Store
unraid-templates/