services:
  app:
    image: solaar45/viking-scrobbler:latest
    container_name: viking-scrobbler
    environment:
      MIX_ENV: prod
      PHX_SERVER: "true"
      PORT: 4000
      DATABASE_PATH: /app/data/viking.db
      SECRET_KEY_BASE: ${SECRET_KEY_BASE:-CHANGE_THIS_IN_PRODUCTION_MIN_64_CHARS_LONG_RANDOM_STRING_12345}
    ports:
      - "4000:4000"
    volumes:
      - /mnt/user/appdata/viking-scrobbler:/app/data
    restart: unless-stopped
